body {
  color: black;
}

.sudokuview {
  min-width: 200px;
  width: 320px;
  height: 200px;
}

table.gridview {
  border: 1px solid lightgray;
  padding: 4pt;
  min-width: 30%;
  max-width: 80%;
  min-height: 30%;
}

.init-cell {
  color: black;
  font-weight: 700;
}

.solved-cell {
  color: green;
  font-weight: 700;
}

.conflict-cell input {
  color: red;
  border-color: red;
}

td.rowview {
  border: 1px solid blue;
}

.blockview {
  display: grid;
  padding: 5pt;
  margin: 4px ;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid gray;
}

.gridview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block-1 {
  background: #E2E2F6;
}

.block-2 {
  background: #F6E2E2;
}

.block-3 {
  background: #E2E2F6;
}

.block-4 {
  background: #F6E2E2;
}

.block-5 {
  background: #E2E2F6;
}

.block-6 {
  background: #F6E2E2;
}

.block-7 {
  background: #E2E2F6;
}

.block-8 {
  background: #F6E2E2;
}

.block-9 {
  background: #E2E2F6;
}

.cellview {
  text-align: center;
  border: 1px solid lightgray;
  margin: 3px;
}

.cellview input {
  width: 30px;
}